@-webkit-keyframes scroll-in-anim{
    0%{
        -webkit-transform:translate(0,200%);
        transform:translate(0,200%)
    }
    33%{
        -webkit-transform:translate(0,100%);
        transform:translate(0,100%)
    }
    66%{
        -webkit-transform:translate(0,0);
        transform:translate(0,0)
    }
    100%{
        -webkit-transform:translate(0,-100%);
        transform:translate(0,-100%)
    }
}
@keyframes scroll-in-anim{
    0%{
        -webkit-transform:translate(0,200%);
        transform:translate(0,200%)
    }
    33%{
        -webkit-transform:translate(0,100%);
        transform:translate(0,100%)
    }
    66%{
        -webkit-transform:translate(0,0);
        transform:translate(0,0)
    }
    100%{
        -webkit-transform:translate(0,-100%);
        transform:translate(0,-100%)
    }
}
@-webkit-keyframes scroll-in-anim-first{
    0%{
        -webkit-transform:translate(-50%,100%);
        transform:translate(-50%,100%)
    }
    33%{
        -webkit-transform:translate(-50%,0);
        transform:translate(-50%,0)
    }
    66%{
        -webkit-transform:translate(-50%,-100);
        transform:translate(-50%,-100)
    }
    100%{
        -webkit-transform:translate(-50%,-200%);
        transform:translate(-50%,-200%)
    }
}
@keyframes scroll-in-anim-first{
    0%{
        -webkit-transform:translate(-50%,100%);
        transform:translate(-50%,100%)
    }
    33%{
        -webkit-transform:translate(-50%,0);
        transform:translate(-50%,0)
    }
    66%{
        -webkit-transform:translate(-50%,-100);
        transform:translate(-50%,-100)
    }
    100%{
        -webkit-transform:translate(-50%,-200%);
        transform:translate(-50%,-200%)
    }
}
@-webkit-keyframes scroll-in-anim-second{
    0%{
        -webkit-transform:translate(-50%,200%);
        transform:translate(-50%,200%)
    }
    33%{
        -webkit-transform:translate(-50%,100%);
        transform:translate(-50%,100%)
    }
    66%{
        -webkit-transform:translate(-50%,0);
        transform:translate(-50%,0)
    }
    100%{
        -webkit-transform:translate(-50%,-100%);
        transform:translate(-50%,-100%)
    }
}
@keyframes scroll-in-anim-second{
    0%{
        -webkit-transform:translate(-50%,200%);
        transform:translate(-50%,200%)
    }
    33%{
        -webkit-transform:translate(-50%,100%);
        transform:translate(-50%,100%)
    }
    66%{
        -webkit-transform:translate(-50%,0);
        transform:translate(-50%,0)
    }
    100%{
        -webkit-transform:translate(-50%,-100%);
        transform:translate(-50%,-100%)
    }
}
@-webkit-keyframes scroll-in-anim-third{
    0%{
        -webkit-transform:translate(-50%,300%);
        transform:translate(-50%,300%)
    }
    33%{
        -webkit-transform:translate(-50%,200%);
        transform:translate(-50%,200%)
    }
    66%{
        -webkit-transform:translate(-50%,100%);
        transform:translate(-50%,100%)
    }
    100%{
        -webkit-transform:translate(-50%,0);
        transform:translate(-50%,0)
    }
}
@keyframes scroll-in-anim-third{
    0%{
        -webkit-transform:translate(-50%,300%);
        transform:translate(-50%,300%)
    }
    33%{
        -webkit-transform:translate(-50%,200%);
        transform:translate(-50%,200%)
    }
    66%{
        -webkit-transform:translate(-50%,100%);
        transform:translate(-50%,100%)
    }
    100%{
        -webkit-transform:translate(-50%,0);
        transform:translate(-50%,0)
    }
}
@-webkit-keyframes ping{
    0%,100%{
        opacity:0;
        -webkit-transform:scale(1);
        transform:scale(1)
    }
    20%,80%{
        opacity:1
    }
    50%{
        opacity:1;
        -webkit-transform:scale(2.5);
        transform:scale(2.5)
    }
}
@keyframes ping{
    0%,100%{
        opacity:0;
        -webkit-transform:scale(1);
        transform:scale(1)
    }
    20%,80%{
        opacity:1
    }
    50%{
        opacity:1;
        -webkit-transform:scale(2.5);
        transform:scale(2.5)
    }
}
