

@media screen and (min-width:1201px) and (max-width:1399px){
    .hl-con{
        top:35%;
        left:0;
        -webkit-transform:translate(0,-50%);
        -ms-transform:translate(0,-50%);
        transform:translate(0,-50%);
        width:clamp(800px,55%,1000px);
        aspect-ratio:1.8;
        padding-left:4%
    }
    .hl-texts{
        font-size:clamp(80px, 5.5vmax, 100px)
    }
    .header-img-con-big{
        width:clamp(500px,40%,700px);
        right:1%
    }
    .header-img-con-small{
        width:7%
    }
    .navbar-img-con{
        width:clamp(175px,10%,225px)
    }
    .github-box,.location-box{
        left:clamp(50px,5%,95px);
        max-width:360px;
        width:15%
    }
    .svg-texts-big{
        font-size:clamp(100px, 9vmax, 120px)
    }
    .svg-texts-small{
        font-size:clamp(20px, 1.5vmax, 30px)
    }
    #nav-bar ul{
        width:90%;
        height:100%;
        padding-left:2%;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-pack:start;
        -ms-flex-pack:start;
        justify-content:flex-start;
        -webkit-box-align:center;
        -ms-flex-align:center;
        align-items:center;
        gap:5%
    }
    #nav-bar ul li span{
        font-size:5vmin
    }
    section#section-about-me .text-box h3,section#section-my-work .description-box h3{
        font-size:clamp(30px, 3.5vmin, 40px)
    }
    section#section-about-me .text-box p,section#section-my-work .description-box p{
        margin-top:2%;
        font-size:clamp(10px, 2.5vmin, 25px)
    }
    section#section-about-me .location-box p{
        font-size:15px
    }
    .location-box{
        top:10%;
        height:50%
    }
    .github-box{
        top:65%;
        height:25%
    }
    .text-box{
        top:10%;
        left:clamp(250px,30%,575px);
        max-width:1200px;
        width:50%;
        height:80%
    }
    .description-box{
        max-width:1200px;
        width:100%
    }
    .tech-menu-incoming,.work-menu-con{
        max-width:720px;
        width:30%
    }
    .description-con h4{
        font-size:1vmax
    }
    .sub-contact-container:first-child{
        font-size:clamp(15px, 1.5vmax, 25px)
    }
    .sub-contact-container:nth-child(2),.sub-contact-container:nth-child(3){
        font-size:clamp(25px, 2vmax, 35px)
    }
    .sub-contact-container a{
        color:var(--accent-color)
    }
}
