


@media screen and (min-width: 1400px) {
    /* HEADER ------------HEADLINES ON THE LEFT --------------------------- START*/
    .hl-con {
        top: 35%;
        left: 0;
        -webkit-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
                transform: translate(0, -50%);
        width: clamp(800px, 55%, 1000px);
        aspect-ratio: 1.8;
        padding-left: 2%;
    }
    .hl-texts {
        font-size: clamp(95px, 6vmax, 115px);
    }
    /* HEADER ------------HEADLINES ON THE LEFT --------------------------- END*/
    
    /* HEADER ------------PICTURE OF ME ON THE RIGHT --------------------------- START*/
    .header-img-con-big {
        width: clamp(700px, 40%, 900px);
    }
    .header-img-con-small {
        width: 7%;
    }
    .navbar-img-con {
        width: clamp(175px, 10%, 225px);
    }
    .svg-texts-big {
        font-size: clamp(160px, 9vmax, 205px);
    }
    .svg-texts-small {
        font-size: clamp(20px, 1.5vmax, 30px);
    }
    /* HEADER ------------PICTURE OF ME ON THE RIGHT --------------------------- END*/
    /* NAV -------------MAIN NAVIGATION --------------------------- START*/
    #nav-bar ul {
        width: 90%;
        height: 100%;
        padding-left: 2%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 5%;
    }
    #nav-bar ul li span {
        font-size: 5vmin;
    }
    /* NAV -------------MAIN NAVIGATION --------------------------- END*/
    
    /* NAV -------------SECTION ABOUT ME --------------------------- START*/
    section#section-about-me .text-box h3,
    section#section-my-work .description-box h3 {
        font-size: clamp(30px, 3.5vmin, 40px);
    }
    section#section-about-me .text-box p,
    section#section-my-work .description-box p {
        margin-top: 2%;
        font-size: clamp(10px, 2.5vmin, 25px);
    }
    section#section-about-me .location-box p {
        font-size: 15px;
    }
    /* NAV -------------SECTION ABOUT ME --------------------------- END*/
    .location-box {
        top: 10%;
        left: clamp(50px, 5%, 95px);
        max-width: 360px;
        width: 15%;
        height: 50%;
    }
    .github-box {
        top: 65%;
        left: clamp(50px, 5%, 95px);
        max-width: 360px;
        width: 15%;
        height: 25%;
    }
    .text-box {
        top: 10%;
        left: clamp(250px, 30%, 575px);
        max-width: 1200px;
        width: 50%;
        height: 80%;
    }
    .description-box {
        max-width: 1200px;
        width: 100%;
    }
    .work-menu-con,
    .tech-menu-incoming {
        max-width: 720px;
        width: 30%;
    }
    
    
    .sub-contact-container:nth-child(1) {
        font-size: clamp(15px, 1.5vmax, 25px);
    }
    .sub-contact-container:nth-child(2),
    .sub-contact-container:nth-child(3) {
        font-size: clamp(35px, 2.5vmax, 45px);
    }
    .sub-contact-container a {
        color: var(--accent-color);
    }
    
    }