


@media screen and (max-width: 768px) {
    /* HEADER ------------HEADLINES ON THE LEFT --------------------------- START*/
    header {
        position: static;
        height: 100vh;
    }
    .hl-con {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: clamp(800px, 55%, 1000px);
        aspect-ratio: 3;
        /* border: 1px solid red; */
        justify-content: flex-start;
        text-align: center;
    }
    .hl-texts {
        font-size: clamp(45px, 5vmax, 50px);
    }
    .hl-prim-rows {
        justify-content: center !important;
        /* border: 1px solid green; */
    }
    .sec-row-con {
        position: relative;
    }
    .hl-sec-rows {
        position: absolute;
        justify-content: center;
        /* border: 1px solid rebeccapurple; */
        animation: none;
    }
    .hl-sec-rows:first-child {
        top: 0;
        left: 50%;
        transform: translate(-50%, -200%);
        animation: scroll-in-anim-first 1.5s 1;
    }
    .hl-sec-rows:nth-child(2) {
        top: 0;
        left: 50%;
        transform: translate(-50%, -100%);
        animation: scroll-in-anim-second 1.5s 1;
    }
    .hl-sec-rows:last-child {
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        animation: scroll-in-anim-third 1.5s 1;
    }
    /* HEADER ------------HEADLINES ON THE LEFT --------------------------- END*/
    
    /* HEADER ------------PICTURE OF ME ON THE RIGHT --------------------------- START*/
    .header-img-con-big {
        width: clamp(300px, 40%, 400px);
        right: 50% !important;
        bottom: 0 !important;
        transform: translateX(50%);
    }
    .header-img-con-big .img-me-con > img {
        height: 65%;
    }
    .header-img-con-small {
        width: 7%;
    }
    .navbar-img-con {
        width: clamp(175px, 10%, 225px);
    }
    .svg-texts-big {
        font-size: clamp(60px, 9vmax, 90px);
        /* font-size: 8vmax; */
    }
    .svg-texts-small {
        font-size: clamp(20px, 1.5vmax, 30px);
    }
    /* HEADER ------------PICTURE OF ME ON THE RIGHT --------------------------- END*/
    /* NAV -------------MAIN NAVIGATION --------------------------- START*/
    #hamburger-con {
        display: block;
    }
    #hamburger-con.clicked {
        right: 50%;
    }
    .nav-bar {
        position: fixed;
        top: 0;
        right: -50vw;
        height: 100vh;
        width: 50vw;
        transition: all .3s;
        background-image: -o-radial-gradient(at 80% 80%, #151929 0%, #111424 36%, #000000 70%);
        background-image: radial-gradient(at 80% 80%, #151929 0%, #111424 36%, #000000 70%);
        z-index: 20;
    }
    .nav-bar.clicked {
        right: 0;
    }
    #nav-bar ul {
        width: 100%;
        height: 100%;
        padding-left: 2%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 5%;
    }
    #nav-bar ul li span {
        font-size: clamp(25px, 4.3vmin, 34px);
    }
    /* NAV -------------MAIN NAVIGATION --------------------------- END*/
    
    /* SECTIONS ------------GENERAL STYLES FOR SECTIONS --------------------------- START*/
    section.subtopic-sections {
        width: 100%;
        scroll-margin-top: -1px;
        border: 1px solid red;
    }
    /* SECTIONS ------------GENERAL STYLES FOR SECTIONS --------------------------- END*/
    /* NAV -------------SECTION ABOUT ME --------------------------- START*/
    section#section-about-me,
    section#section-my-work,
    section#section-tech-stack,
    section#section-contact {
        height: 100vh;
    }
    section#section-about-me .text-box h3,
    section#section-my-work .description-box h3 {
        font-size: clamp(30px, 3.5vmin, 40px);
    }
    section#section-about-me .text-box p,
    section#section-my-work .description-box p {
        margin-top: 2%;
        font-size: clamp(10px, 2.5vmin, 25px);
    }
    section#section-about-me .location-box p {
        font-size: 15px;
        font-size: 10px;
    }
    /* NAV -------------SECTION ABOUT ME --------------------------- END*/
    .location-box {
        top: 10%;
        left: clamp(20px, 3%, 50px);
        max-width: 360px;
        width: 15%;
        width: 200px;
        width: clamp(200px, 15%, 350px);
        height: 50%;
    }
    .github-box {
        top: 65%;
        left: clamp(20px, 3%, 50px);
        max-width: 360px;
        width: 15%;
        width: clamp(200px, 15%, 350px);
        height: 25%;
    }
    .text-box {
        top: 10%;
        left: clamp(250px, 25%, 575px);
        max-width: 1200px;
        width: 60%;
        height: 80%;
    }
    /* NAV -------------SECTION MY WORK --------------------------- START*/

    /* .description-box {
        max-width: 1200px;
        width: 100%;
    } */
    .work-menu-con,
    .tech-menu-incoming {
        max-width: 720px;
        width: 25%;
    }
    .work-menu-con {
        max-width: unset;
        width: 100%;
        height: 100%;
        flex-wrap: nowrap;
        padding: 0;
        border: 1px solid white;
    }
    .example-buttons {
        width: 30%;
        aspect-ratio: 1.3;
    }
    .description-con {
        background-color: rgba(51, 61, 92, .7);
    }
    .description-con h4 {
        font-size: 2vmax;
    }
    /* .description-box {
        height: 80%;
        width: 100%;
        top: 10%;
        left: 0;
        -webkit-perspective: 800px;
                perspective: 800px;
    } */
    .work-description-con,
    .tech-stack-con {
        width: 60%;
    }
    .work-description-con {
        display: none;
    }
    /* NAV -------------SECTION MY WORK --------------------------- END*/
    /* NAV -------------SECTION TECH STACK --------------------------- START*/
    .incoming-container {
        position: static !important;
        width: 95%;
        height: 90%;
        flex-wrap: wrap;
        padding: 2% 5%;
        text-align: center;
        gap: 5%;
    }
    .incoming-container h3 {
        font-size: clamp(10px, 1.3vmax, 18px);
    }
    .incoming-container p {
        font-size: clamp(7px, 1.3vmax, 16px);
    }
    .tech-stack-card .h4-holder {
        transform: translateZ(0);
        opacity: 1;
    }
    #side-bar {
        align-items: flex-end;
        padding-right: 10px;
    }
    /* NAV -------------SECTION TECH STACK --------------------------- END*/
    
    .sub-contact-container:nth-child(1) {
        font-size: clamp(15px, 1.5vmax, 25px);
    }
    .sub-contact-container:nth-child(2),
    .sub-contact-container:nth-child(3) {
        font-size: clamp(35px, 2.5vmax, 45px);
        font-size: clamp(25px, 2vmax, 35px);
    }
    .sub-contact-container a {
        color: var(--accent-color);
    }
    section#section-contact {
        /* -ms-flex-pack: center !important; */
        justify-content: center !important;
    }
    #contact-container {
        width: 60%;
        margin: 0;
    }
    
    }