@media screen and (max-width:768px){
    .nav-bar,header,section#section-about-me,section#section-contact,section#section-my-work,section#section-tech-stack{
        height:100vh;
    }
    #nav-bar {



        display: none;

    }
    #sec-nav-bar {
        display: flex;
    }
    .sec-nav-bar {
        display: flex;
        height:100vh;
        position:fixed;
        top:0;
        right:unset;
        left:100vw;
        width:50vw;
        -webkit-transition:.3s;
        -o-transition:.3s;
        transition:.3s;
        background-image:-o-radial-gradient(at 80% 80%,#151929 0,#111424 36%,#000 70%);
        background-image:radial-gradient(at 80% 80%,#151929 0,#111424 36%,#000 70%);
        z-index:20
    }
    .sec-nav-bar ul{
        width:100%;
        height:100%;
        padding-left:2%;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
        -ms-flex-direction:column;
        flex-direction:column;
        -ms-flex-pack:distribute;
        justify-content:space-around;
        -webkit-box-align:center;
        -ms-flex-align:center;
        align-items:center;
        gap:5%
    }
    .sec-nav-bar ul li span{
        font-size:clamp(20px, 4.3vmin, 26px)
    }
    .sec-nav-bar.clicked{
        right:unset;
        left:50vw;
    }
    
    body {
        overflow-x: hidden;
    }
    header{
        position:static;
    }
    .hl-con{
        top:0;
        left:50%;
        -webkit-transform:translateX(-50%);
        -ms-transform:translateX(-50%);
        transform:translateX(-50%);
        width:clamp(800px,55%,1000px);
        aspect-ratio:3;
        -webkit-box-pack:start;
        -ms-flex-pack:start;
        justify-content:flex-start;
        text-align:center
    }
    .hl-texts{
        font-size:clamp(45px, 5vmax, 50px)
    }
    .hl-prim-rows,section#section-contact{
        -webkit-box-pack:center!important;
        -ms-flex-pack:center!important;
        justify-content:center!important
    }
    .sec-row-con{
        position:relative
    }
    .hl-sec-rows{
        position:absolute;
        -webkit-box-pack:center;
        -ms-flex-pack:center;
        justify-content:center;
        -webkit-animation:none;
        animation:none
    }
    .hl-sec-rows:first-child{
        top:0;
        left:50%;
        -webkit-transform:translate(-50%,-200%);
        -ms-transform:translate(-50%,-200%);
        transform:translate(-50%,-200%);
        -webkit-animation:1.5s scroll-in-anim-first;
        animation:1.5s scroll-in-anim-first
    }
    .hl-sec-rows:nth-child(2){
        top:0;
        left:50%;
        -webkit-transform:translate(-50%,-100%);
        -ms-transform:translate(-50%,-100%);
        transform:translate(-50%,-100%);
        -webkit-animation:1.5s scroll-in-anim-second;
        animation:1.5s scroll-in-anim-second
    }
    .hl-sec-rows:last-child{
        top:0;
        left:50%;
        -webkit-transform:translate(-50%,0);
        -ms-transform:translate(-50%,0);
        transform:translate(-50%,0);
        -webkit-animation:1.5s scroll-in-anim-third;
        animation:1.5s scroll-in-anim-third
    }
    .header-img-con-big{
        width:clamp(300px,40%,400px);
        right:50%!important;
        bottom:0!important;
        -webkit-transform:translateX(50%);
        -ms-transform:translateX(50%);
        transform:translateX(50%)
    }
    .header-img-con-big .img-me-con>img{
        height:65%
    }
    .header-img-con-small{
        width:7%
    }
    .navbar-img-con{
        width:clamp(175px,10%,225px)
    }
    .svg-texts-big{
        font-size:clamp(60px, 9vmax, 90px)
    }
    .svg-texts-small{
        font-size:clamp(20px, 1.5vmax, 30px)
    }
    #hamburger-con{
        display:block;
        width:10vw;
        right:unset;
        left:90vw;
    }
    #hamburger-con.clicked{
        right:unset;
         left:40%;
    }
    #nav-bar ul{
        width:100%;
        height:100%;
        padding-left:2%;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
        -ms-flex-direction:column;
        flex-direction:column;
        -ms-flex-pack:distribute;
        justify-content:space-around;
        -webkit-box-align:center;
        -ms-flex-align:center;
        align-items:center;
        gap:5%
    }
    #nav-bar ul li span{
        font-size:clamp(25px, 4.3vmin, 34px)
    }
    section.subtopic-sections{
        scroll-margin-top:-1px;
    }
    section#section-about-me .text-box h3,section#section-my-work .description-box h3{
        font-size:clamp(30px, 3.5vmin, 40px)
    }
    section#section-about-me .text-box p,section#section-my-work .description-box p{
        margin-top:2%;
        font-size:clamp(10px, 2.5vmin, 25px)
    }
    section#section-about-me .location-box p{
        font-size:10px
    }
    .location-box{
        top:2%;
        left:1%;
        max-width:unset;
        width:98%;
        height:20%;
        -webkit-box-orient:horizontal!important;
        -webkit-box-direction:normal!important;
        -ms-flex-direction:row!important;
        flex-direction:row!important
    }
    #side-bar,.incoming-container{
        -webkit-box-orient:horizontal
    }
    #side-bar,.incoming-container,section#section-tech-stack{
        -webkit-box-direction:normal
    }
    .location-box .info-con{
        width:30%!important;
        height:95%;
        margin-top:unset!important;
        margin-left:3%;
        margin-right:auto
    }
    .location-box .img-con{
        min-width:110px!important;
        width:20%!important;
        height:95%!important;
        margin-right:40%;
        margin-bottom:unset!important;
        margin-top:unset!important
    }
    .github-box{
        top:3%;
        left:unset;
        right:3%;
        max-width:unset;
        width:20%;
        height:18%
    }
    .github-box .github-logo{
        width:60%!important
    }
    .text-box{
        top:24%;
        left:1%;
        max-width:unset;
        width:98%;
        height:70%;
        -webkit-box-pack:center!important;
        -ms-flex-pack:center!important;
        justify-content:center!important
    }
    .tech-menu-incoming,.work-menu-con{
        max-width:720px
    }
    .work-menu-con{
        max-width:unset;
        width:100%;
        height:100%;
        -ms-flex-wrap:nowrap;
        flex-wrap:nowrap;
        padding:0;
    }
    .example-buttons{
        width:45%;
        height:unset!important;
        aspect-ratio:.7!important
    }
    .description-con{
        background-color:rgba(51,61,92,.7)
    }
    .description-con h4{
        font-size:2vmax
    }
    .tech-stack-con,.work-description-con{
        width:60%
    }
    .work-description-con{
        display:none
    }
    section#section-tech-stack{
        -webkit-box-orient:vertical;
        -ms-flex-direction:column;
        flex-direction:column;
        -webkit-box-pack:center;
        -ms-flex-pack:center;
        justify-content:center;
        -webkit-box-align:center;
        -ms-flex-align:center;
        align-items:center
    }
    .tech-menu-incoming{
        width:100%;
        height:30%;
        padding:0;
        gap:0
    }
    .incoming-container{
        position:static!important;
        -ms-flex-direction:row;
        flex-direction:row;
        width:95%;
        height:90%;
        padding:2% 5%;
        text-align:center;
        gap:5%
    }
    .incoming-container h3{
        font-size:clamp(18px, 1vmax, 20px)
    }
    .incoming-container p{
        font-size:clamp(7px, 1.3vmax, 16px)
    }
    .tech-stack-con{
        width:100%
    }
    .tech-stack-card .h4-holder{
        -webkit-transform:translateZ(0);
        transform:translateZ(0);
        opacity:1
    }
    .tech-stack-card:hover .h4-holder{
        -webkit-transform:none;
        -ms-transform:none;
        transform:none
    }
    #side-bar{
        top:unset;
        bottom:0;
        left:2.5vw;
        width:95vw;
        height:15%;
        -webkit-transform:none;
        -ms-transform:none;
        transform:none;
        -ms-flex-direction:row;
        flex-direction:row
    }
    #back-to-top-button{
        width:15%;
        width:clamp(30px,15%,70px);
        margin:0 auto 0 3%
    }
    .sidebar-links{
        width:10%;
        margin:0
    }
    .sidebar-links:last-child{
        margin-right:3%
    }
    .sub-contact-container:first-child{
        font-size:clamp(15px, 1.5vmax, 25px)
    }
    .sub-contact-container:nth-child(2),.sub-contact-container:nth-child(3){
        font-size:clamp(25px, 2vmax, 35px)
    }
    .sub-contact-container a{
        color:var(--accent-color)
    }
    #contact-container{
        width:80%;
        margin:0
    }
}
